@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face {
  font-family: 'futurabook';
  src: local('FuturaBook'), url(~assets/fonts/FuturaBook.ttf) format('truetype');
}
@font-face {
  font-family: 'athelas';
  src: local('Athelas-Regular'),
    url(~assets/fonts/Athelas-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'futuraheavy';
  src: local('futuraheavy'),
    url(~assets/fonts/FuturaHeavy.ttf) format('truetype');
}
p {
  margin: 0 !important;
  box-sizing: border-box;
}

* {
  --primary: #00ff00;
}
body {
  white-space: pre-line;
}
